
* {
  margin: 0rem;
  padding: 0rem;
  outline: none;
  border: none;
}

html,
body {
  font-size: 1vw;
  font-family: 'Courier New', Courier, monospace;
}

.link {
  text-decoration: none;
  color: #0000ff;
}
