
.sidebar {
  display: inline-block;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 25vw;

  &-title {
  }
  
  &-menu {

    .menu-items {

      .menu-item {
        padding: .5rem 0;
      }
    }
  }
}
