<div class="all">

  <div class="sidebar">

    <div class="sidebar-title">
      <h1>Financeira</h1>
    </div>

    <div class="sidebar-menu">
      <div class="menu-items">
        <div class="menu-item"><a class="link" href="">Item</a></div>
        <div class="menu-item"><a class="link" href="">Item</a></div>
        <div class="menu-item"><a class="link" href="">Item</a></div>
        <div class="menu-item"><a class="link" href="">Item</a></div>
        <div class="menu-item"><a class="link" href="">Item</a></div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <ng-content></ng-content>
    </div>
  </div>

</div>
